:root {
    --bg-color: #1F2A32; /* Цвет фона */
    --normal-text-color-grey: #FAFAF5; /* Цвет обычного текста (сабтайтлы) */
    --accent: #FFD479; /* Цвет заголовка (жёлтый) */
    --btn-hover: #fcc54e;

    --font-base: 'Roboto', sans-serif; /* Базовый шрифт */
    --font-accent: 'Bebas Neue', sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--normal-text-color-grey);

    font-family: var(--font-base);
    font-weight: 300;

    padding-bottom: 600px; /* на момент разработки */
}

a {
    color: var(--normal-text-color-grey);
}

/* .title-1 {
    font-family: var(--font-accent);
    color: var(--accent);
    font-weight: 700;
    font-size: 96px;
} */

.container {
    max-width: 1200px; /* Не вырастет больше 1200px! Изначально было 1170px, но +30px из-за padding 15px слева и справа */
    width: 100%; /* Растёт насколько может, важно для мобильной вёрстки */

    margin: 0 auto; /* Отступы. Контейнер размещается по центру страницы */
    padding: 0 15px;
}

.container-contact {
    max-width: 615px; /* Ширина конентной части 585 + 30 (15+15 padding) */
}