.card-program {

}

.card-program-img {
    margin-bottom: 25px; /* Отступ от заголовка */
    border-radius: 20px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.card-program-title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 43px;

    letter-spacing: 0.07em;
    color: var(--accent);
}

/* Media */
@media (max-width: 1200px) {
    .card-program-title {
        font-size: 36px;
    }
}

@media (max-width: 800px) {
    .card-program-title {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    .card-program-title {
        text-align: center;
    }
}