.header {
    padding-top: 30px;
    height: 750px;


    /* Фоновое изображение для экранов с различной плотностью пикселей */
    background-image: image-set(
        url('./../../img/background/hero-bg.jpg') 1x, /* Экраны с обычной плотностью пикселей */
        url('./../../img/background/hero-bg@2x.jpg') 2x /* Ретина */
    );

    background-repeat: no-repeat;
    background-position: left top; /* hero по центру */
    background-size: cover; /* Фон заполняет весь размер блока */
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;

    font-family: var(--font-accent);
    font-weight: 700;
    letter-spacing: 3px;
}

.header-nav a:hover {
    color: var(--accent);
    transition: color 0.2s ease-in;
}

.header-img {
    padding-top: 125px;
    text-align: right;
}

/* Media */

@media (max-width: 800px) {
    .header-logo {
        display: none;
    }

    .header-row {
        justify-content: center;
    }

    .header-img {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .header {
        height: auto; /* Убираем фиксированную высоту */
        padding-bottom: 60px;

    }

    .header-logo {
        display: block;
    }

    .header-row {
        flex-direction: column;
        row-gap: 40px;
    }

    .header-img {
        display: none;
    }

    .header-nav {
        flex-direction: column;
        row-gap: 30px;
    }
}