.section {
    padding: 150px 0;
}

.section-trainers {

}

.section-header {
    margin: 0 auto; /* Выравниваем по центру (объявление margin строго в таком порядке) */
    margin-bottom: 50px;

    max-width: 800px; /* Ограничен 800px */
    width: 100% /* Тянется как может */


}

.section-header p {
    font-size: 16px;
    line-height: 2; /* Высота строки текста. 2 - Множитель. Если размер текста станет меньше,
                        высота строки привязывается к нему. 2 - высота строки будет в два раза больше размера шрифта */

    text-align: center;
}

.section-title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 96px;

    color: var(--accent);
    letter-spacing: 0.08em; /* 7.5px. Значение 0.08 вычислил плагин Inspect Styles, во вкладке 'code' */

    text-align: center;
}

.section-trainers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1fr - каждая колонка занимает равную долю пространства.
                                            1/4 или 25% от доступной ширины контейнера */
    grid-gap: 35px 30px; /* 35 между рядами, 30 между колонками */
}
