.section {
    padding: 150px 0;
}

.section-trainers {

}

.section-header {
    margin: 0 auto; /* Выравниваем по центру (объявление margin строго в таком порядке) */
    margin-bottom: 50px;

    max-width: 800px; /* Ограничен 800px */
    width: 100% /* Тянется как может */


}

.section-header p {
    font-size: 16px;
    line-height: 2; /* Высота строки текста. 2 - Множитель. Если размер текста станет меньше,
                        высота строки привязывается к нему. 2 - высота строки будет в два раза больше размера шрифта */

    text-align: center;
}

.section-title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* https://min-max-calculator.9elements.com/?48,96,320,1200 */

    color: var(--accent);
    letter-spacing: 0.08em; /* 7.5px. Значение 0.08 вычислил плагин Inspect Styles, во вкладке 'code' */

    text-align: center;
}

.section-trainers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1fr - каждая колонка занимает равную долю пространства.
                                            1/4 или 25% от доступной ширины контейнера */
    grid-gap: 35px 30px; /* 35 между рядами, 30 между колонками */
}

/* Программы и группы */
.section-programs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 150px 32px;
}


/* Media */
@media (max-width: 1200px) {
    .section-programs-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px 32px;
    }
}

@media (max-width: 800px) {
    .section {
        padding: 100px 0; /* Уменьшаем на 50px*/
    }

    .section-trainers-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    }

    .section-programs-grid {
        grid-gap: 60px 32px;
    }
}

@media (max-width: 600px) {
    .section {
        padding: 80px 0;
    }

    .section-header {
        margin-bottom: 30px;
    }

    .section-header p {
        font-size: 14px;
    }

    .section-trainers-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-programs-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px 20px;
    }

    /* Скрываем br */
    .br-title {
        display: none;
    }
}

@media (max-width: 400px) {
    .section-trainers-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center; /* Центрирует элементы по горизонтали */
        align-items: center; /* Центрирует элементы по вертикали */
    }

    .section-programs-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center; /* Центрирует элементы по горизонтали */
        align-items: center;
    }
}
